/#tutorial3#
/.sconsign.dblite
/helloWorld
/*.o
*~
/tutorial
/tutorial3
/vortex
/GPATH
i
/GRTAGS
/GTAGS
/usrinclude
/platform
/headerfile_tutorial
/headerfile_tutorial2
*.o
**.o
*.o
/tetris/main
**/.sconsign.dblite
/snake/main
/asteroids/GPATH
/asteroids/GRTAGS
/asteroids/GTAGS
#*#
/asteroids/#Makefile#
/asteroids/CMakeCache.txt
/asteroids/cmake_install.cmake
/asteroids/main
/vortex_main
/b2d/main
asteroids/CMakeFiles
/automata/imgui.ini
/automata/main
/automata/test_automata
/asteroids/example
*.cpp#
